.home {
  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    &.dark {
      background-color: #0d084d;
      color: white;
      h1 {
        color: white !important;
      }
      p {
        color: white !important;
        margin-bottom: 20px !important;
      }
      .title {
        color: #999 !important;
        font-weight: 300 !important;
        font-size: 14px !important;

        img {
          width: 15px !important;
          height: 15px !important;
        }
      }
      img {
        width: 100%;
      }
      button {
        background-color: #1dbf73;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        width: max-content;
        font-size: 16x;
        cursor: pointer;
        border: none;
        margin-top: 20px;
      }
    }

    .container {
      display: flex;
      width: 80%;
      gap: 100px;
      align-items: center;
      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .title {
          display: flex;
          align-items: center;
          gap: 15px;
          font-weight: 500;
          // color: #333;

          img {
            width: 24px;
            height: 24px;
          }
        }
        &:first-child {
          flex: 2;
        }
        &:last-child {
          flex: 3;
          img {
            width: 100%;
          }
        }

        h1 {
        }
        p {
          color: #777;
          font-size: 15px;
        }
        .title {
        }
        video {
          width: 720px;
        }
      }
    }
  }
}
