.category {
  position: relative;
  width: 800px;
}

.category .boxs {
  position: relative;
}

.category .box {
  text-align: center;
}

.NSslider {
  all: unset;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category .overlay {
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.category .overlay h4 {
  font-weight: 600;
  color: rgba(253, 246, 126);
}

.category .overlay p {
  font-weight: 300;
  color: #fff;
}

.category P {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

.category img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.control-button.next {
  width: 30px;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.control-button.before {
  width: 30px;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next-btn,
.before-btn {
  background-color: white;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
